<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>BoostInOrbit | Company</title>
    <link rel="icon" href="../images/icon-blue-bg.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="../css/custom/index.css">
    <link rel="stylesheet" type="text/css" href="../css/custom/developer.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <!-- CSS only -->

</head>

<body>

    <!-- Header start -->

    <div class="fixed-top navbar navbar-expand-md navbar-light bg-dark">
        <a href="./index.html" class="navbar-brand">
            <img src="../images/logo.png" width="250px" alt="BoostInOrbit">
        </a>

        <p class="fwc_pa left-m-200 top-m-20 underline fs_pa "> DEVELOPER </p>

        <div class="collapse navbar-collapse" id="menu">
            <div class="navbar-nav ml-lg-auto">
                <a href="./index.html" class="fwc_pa  ">Home</a>
                <a href="#" class="fwc_pa left-m-20 ">Documentation</a>
                <a href="#" class="fwc_pa left-m-20 ">Learn</a>
                <a href="#" class="fwc_pa left-m-20 ">Q&A</a>
                <a href="#" class="fwc_pa left-m-20 ">Videos</a>
                <a href="#" class="fwc_pa left-m-20 ">Code Sample</a>
            </div>
            <div class="navbar-nav ml-auto">
                <a href="#" class="fwc_pa left-m-20 "><i class="fa fa-lock"></i> Login</a>
                <a href="#" class="fwc_pa left-m-20 "><i class="fa fa-user-circle"></i> Signup</a>
            </div>
        </div>
    </div>

    <!-- Header end -->


    <!--********************** START: Banner Section  ********************************** -->
    <section class="s_ds ">
        <div class="container height-100">
            <div class="row">

                <div class="col-md-12">
                    <p class="btext-color st_pa top-m-100 ">BoostInOrbit® Softwares and Technologies </p>
                    <p class="btext-color sd_pa">Official Source for Development</p>
                </div>
            </div>
            <div class="row  top-m-20">
                <div class="col-3 bifl">
                    <a href="#"><img src="../icon/Cascaron.svg" class="img-responsive"></a>
                </div>
                <div class="col-3 bifl">
                    <a href="#"><img src="../icon/Cascaron.svg" class="img-responsive"></a>
                </div>
                <div class="col-3 bifl">
                    <a href="#"><img src="../icon/Cascaron.svg" class="img-responsive"></a>
                </div>
                <div class="col-3 bifl">
                    <a href="#"><img src="../icon/Cascaron.svg" class="img-responsive"></a>
                </div>
            </div>

            <div class="row  top-m-20 padding-bottom-110">
                <div class="col-3 bifl">
                    <a href="#"><img src="../icon/Cascaron.svg" class="img-responsive"></a>
                </div>
                <div class="col-3 bifl">
                    <a href="#"><img src="../icon/Cascaron.svg" class="img-responsive"></a>
                </div>
                <div class="col-3 bifl">
                    <a href="#"><img src="../icon/Cascaron.svg" class="img-responsive"></a>
                </div>
                <div class="col-3 bifl">
                    <a href="#"><img src="../icon/Cascaron.svg" class="img-responsive "></a>
                </div>
            </div>
        </div>
    </section>

    <!--********************** END: Banner Section  ********************************** -->



    <!-- ****************start section 1st ****************************** -->
    <section class="top-m-section">
        <div class="container">
            <div>
                <p class="gradient center-m-h-35">Goals & Motives</p>
                <div class="separator center-m-h-35"></div>
                <p class="subt_pa">
                    The realities of modern life safety is gradually coming to a leading
                    position.
                    It is therefore necessary to organize full protection of the house, office, apartment from
                    unauthorized intruders.
                    We can help you ensure the highest possible level of security, because the installation of cameras -
                    our specialty.
                </p>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <ul class="unfeat-list list-unstyled">
                        <li class="top-m">
                            <div class="icon bi-color">
                                <img src="../icon/give-money.png" class="icon-img" alt="">
                            </div>
                            <div class="des">
                                <a href="#" class="fhc_pa">Compatitive Price</a>
                                <p class="d_pa">Excepteur sint occaecat cupidatat non proident sunt in culpa qui
                                    officia.
                                </p>
                            </div>
                        </li>
                        <li class="top-m">
                            <div class="icon bi-color">
                                <img src="../icon/online-test.png" class="icon-img" alt="">
                            </div>
                            <div class="des">
                                <a href="#" class="fhc_pa">Quality Product
                                </a>
                                <p class="d_pa">Excepteur sint occaecat cupidatat non proident sunt in culpa qui
                                    officia.
                                </p>
                            </div>
                        </li>
                        <li class="top-m">
                            <div class="icon bi-color">
                                <img src="../icon/trolley.png" class="icon-img" alt="">
                            </div>
                            <div class="des">
                                <a href="#" class="fhc_pa">Quick Delivery</a>
                                <p class="d_pa">Excepteur sint occaecat cupidatat non proident sunt in culpa qui
                                    officia.</p>
                            </div>
                        </li>

                    </ul>

                </div>
                <div class="col-md-6">
                    <img src="../images/service.png">
                </div>


            </div>
        </div>
    </section>
    <!-- ****************END section 1st ****************************** -->

    <!-- ****************START: 2nd Section ****************************** -->
    <section class="top-m-section">
        <div class="container">
            <div>
                <p class="gradient center-m-h-35"> BoostInOrbit® Softwares </p>
                <div class="separator center-m-h-35"></div>
                <p class="subt_pa">
                    The realities of modern life safety is gradually coming to a leading
                    position.
                    It is therefore necessary to organize full protection of the house, office, apartment from
                    unauthorized intruders.
                    We can help you ensure the highest possible level of security, because the installation of cameras -
                    our specialty.
                </p>
            </div>
            <div class="row top-m">
                <div class="col-md-4 ">
                    <img src="../icon/twelnetApp_icon.svg" style="width: 100px;"
                        class="center-m-h-35 padding-bottom-20">
                    <br>
                    <a href="#" class="left-m-100 fs_pa" style="color:black; font-weight: bold;">TwelnetApp</a>
                    <p class="subt_pa">
                        The realities of modern life safety is gradually coming to a leading
                        position.
                    </p>
                </div>
                <div class="col-md-4 ">
                    <img src="../icon/twelnetApp_icon.svg" style="width: 100px;"
                        class="center-m-h-35 padding-bottom-20">
                    <br>
                    <a href="#" class="left-m-100 fs_pa" style="color:black; font-weight: bold;">TwelnetApp</a>
                    <p class="subt_pa">
                        The realities of modern life safety is gradually coming to a leading
                        position.
                    </p>
                </div>
                <div class="col-md-4 ">
                    <img src="../icon/twelnetApp_icon.svg" style="width: 100px;"
                        class="center-m-h-35 padding-bottom-20">
                    <br>
                    <a href="#" class="left-m-100 fs_pa" style="color:black; font-weight: bold;">TwelnetApp</a>
                    <p class="subt_pa">
                        The realities of modern life safety is gradually coming to a leading
                        position.
                    </p>
                </div>
            </div>
        </div>
    </section>


    <!-- ****************END: 3rd Section ****************************** -->
    <section class="top-m-section">
        <div class="container">
            <div>
                <p class="gradient center-m-h-35"> BoostInOrbit® Technologies </p>
                <div class="separator center-m-h-35"></div>
                <p class="subt_pa">
                    The realities of modern life safety is gradually coming to a leading
                    position.
                    It is therefore necessary to organize full protection of the house, office, apartment from
                    unauthorized intruders.
                    We can help you ensure the highest possible level of security, because the installation of cameras -
                    our specialty.
                </p>
            </div>

            <div class="row">
                <div class="card col-md-3">
                    <div class="card-body">
                        <img src="../icon/xlvm.svg" class="center-m-h-35">
                        <p class="center-m-h-35" style="font-size:20px; font-weight:bold; color: #f28500;"> XLVM</p>
                        <p style="">
                            The Cascaron a Crossed platform multi-collection modular mini-projects, provides high level
                            tool sets to manage low level technologies.
                        </p>
                        <a href="" class="left-m-50">Documentation</a>

                    </div>
                </div>
                <div class="card col-md-3">
                    <div class="card-body">
                        <img src="../icon/xlvm.svg" class="center-m-h-35">
                        <p class="center-m-h-35" style="font-size:20px; font-weight:bold; color: #f28500;"> XLVM</p>
                        <p style="">
                            The Cascaron a Crossed platform multi-collection modular mini-projects, provides high level
                            tool sets to manage low level technologies.
                        </p>
                        <a href="" class="left-m-50">Documentation</a>

                    </div>
                </div>
                <div class="card col-md-3">
                    <div class="card-body">
                        <img src="../icon/xlvm.svg" class="center-m-h-35">
                        <p class="center-m-h-35" style="font-size:20px; font-weight:bold; color: #f28500;"> XLVM</p>
                        <p style="">
                            The Cascaron a Crossed platform multi-collection modular mini-projects, provides high level
                            tool sets to manage low level technologies.
                        </p>
                        <a href="" class="left-m-50">Documentation</a>

                    </div>
                </div>
                <div class="card col-md-3">
                    <div class="card-body">
                        <img src="../icon/xlvm.svg" class="center-m-h-35">
                        <p class="center-m-h-35" style="font-size:20px; font-weight:bold; color: #f28500;"> XLVM</p>
                        <p style="">
                            The Cascaron a Crossed platform multi-collection modular mini-projects, provides high level
                            tool sets to manage low level technologies.
                        </p>
                        <a href="" class="left-m-50">Documentation</a>

                    </div>
                </div>

            </div>
        </div>
    </section>


    <!-- ****************START: 3rd Section ****************************** -->

    <section class="s_ds bkg">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <p class="gradient st_pa">Partners</p>
                    <div class="separator"></div>

                </div>
                <div class="offset-0 col-md-2 top-m-50">
                    <img src="../icon/Cascaron.svg">
                </div>
                <div class="offset-1 col-md-2 top-m-20">
                    <img src="../icon/umicom.gif">
                </div>
                <div class="offset-1 col-md-2 top-m-20">
                    <img src="../icon/job_markt_logo.svg">
                </div>
            </div>
            <div class="row padding-bottom-110" style="margin-top: -5%;">
                <div class="offset-4">
                </div>
                <div class="offset-0 col-md-2 top-m ">
                    <img src="../icon/envatomarket.svg">
                </div>
                <div class="offset-1 col-md-2 top-m">
                    <img src="../icon/Mavenir.png" style="width:200px">
                </div>
                <div class="offset-1 col-md-2 top-m-20">
                    <img src="../icon/Radisys.webp">
                </div>
            </div>
        </div>
    </section>






    <!-- ****************END: 3rd Section ****************************** -->



    <!-- *********************************START : footer  Section ****************************** -->
    <div>
        <svg class="waves" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink"
            viewBox="0 24 150 40" preserveAspectRatio="none" shape-rendering="auto">
            <defs>
                <path id="surge-animation" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z">
                </path>
            </defs>
            <g class="surge-waves">
                <use xlink:href="#surge-animation" x="48" y="-1" fill="#a6b8d8"></use>
                <use xlink:href="#surge-animation" x="48" y="3" fill="#839cc9"></use>
                <use xlink:href="#surge-animation" x="48" y="5" fill="#718ec1"></use>
                <use xlink:href="#surge-animation" x="48" y="8" fill="#4e72b1"></use>
                <use xlink:href="#surge-animation" x="48" y="13" fill="#4667a0"></use>
                <use xlink:href="#surge-animation" x="48" y="16" fill="#37517e"></use>
            </g>
        </svg>
    </div>

    <section>

        <footer class=" footer-color">
            <hr class="horizontal dark mb-5">
            <div class="container">
                <div class=" row">
                    <div class="col-md-4 mb-4 ms-auto">

                        <div class="fwc_pa">
                            <p>Social Networking site with Automated hiring Process</p>

                            <p>Workhaus FiDi, 56 Temperance St Suite
                                700,Toronto,ON M5H 3V5, Canada</p>

                        </div>
                        <div class="email">
                            <span class="fa fa-envelope fwc_pa"></span>
                            <span class="text text-white ml-3"> info@boostinOrbit.com</span>
                        </div>
                        <div class="phone ">
                            <span class="fa fa-phone fwc_pa"></span>
                            <span class="text text-white ml-3"> +91 987 654 321</span>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-6 mb-4">
                        <div>
                            <p class="subtf_pa fcfh">Our Company</p>
                            <div class="separator-f"></div>
                            <ul class="flex-column" style="list-style:none;">
                                <li>
                                    <a class=" fwc_pa " href=" #" target="_blank">
                                        About Us
                                    </a>
                                </li>
                                <li class="top-m-10">
                                    <a class="fwc_pa top-m-10" href="#" target="_blank">
                                        Hours
                                    </a>
                                </li>
                                <li class="top-m-10">
                                    <a class="fwc_pa" href="#" target="_blank">
                                        People
                                    </a>
                                </li>
                                <li class="top-m-10">
                                    <a class="fwc_pa" href="#" target="_blank">
                                        Communication
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-6 mb-4">
                        <div>
                            <p class="subtf_pa fcfh">Our Resources</p>
                            <div class="separator-f"></div>
                            <ul class="flex-column" style="list-style:none;">
                                <li class="nav-item">
                                    <a class="fwc_pa" href="#" target="_blank">
                                        Design
                                    </a>
                                </li>
                                <li class="top-m-10">
                                    <a class="fwc_pa" href="#" target="_blank">
                                        Build
                                    </a>
                                </li>
                                <li class="top-m-10">
                                    <a class="fwc_pa" href="#" target="_blank">
                                        Display
                                    </a>
                                </li>
                                <li class="top-m-10">
                                    <a class="fwc_pa" href="#" target="_blank">
                                        Details
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-6 mb-4">
                        <div>
                            <p class="subtf_pa fcfh">Our Support</p>
                            <div class="separator-f"></div>
                            <ul class="flex-column" style="list-style:none;">
                                <li>
                                    <a class="fwc_pa" href="#" target="_blank">
                                        Contact Us
                                    </a>
                                </li>
                                <li class="top-m-10">
                                    <a class="fwc_pa" href="#" target="_blank">
                                        Knowledge Center
                                    </a>
                                </li>
                                <li class="top-m-10">
                                    <a class="fwc_pa" href="#" target="_blank">
                                        Development
                                    </a>
                                </li>
                                <li class="top-m-10">
                                    <a class="fwc_pa" href="#" target="_blank">
                                        Memberships
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-6 mb-4 me-auto">
                        <div>
                            <p class="subtf_pa fcfh ">Details</p>
                            <div class="separator-f"></div>
                            <ul class="flex-column" style="list-style:none;">
                                <li class="">
                                    <a class="fwc_pa" href="#" target="_blank">
                                        Terms &amp; Conditions
                                    </a>
                                </li>
                                <li class="top-m-10 ">
                                    <a class="fwc_pa" href="#" target="_blank">
                                        Privacy Policy
                                    </a>
                                </li>
                                <li class="top-m-10">
                                    <a class="fwc_pa" href="#" target="_blank">
                                        Contact
                                    </a>
                                </li>
                                <li class="top-m-10">
                                    <a class="fwc_pa" href="#" target="_blank">
                                        Sitemap
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <ul class="unfeat-list ml-auto" style="list-style:none ;">
                        <li>
                            <div class="icon fi-color ">
                                <a href="https://www.facebook.com/" target="_blank" class="fwc_pa fwcwb-ahp left-m-7"><i
                                        class="fa fa-facebook" aria-hidden="true"></i></a>

                            </div>
                            <div class="icon fi-color">
                                <a href="https://www.instagram.com/" target="_blank"
                                    class="fwc_pa fwcwb-ahp left-m-7"><i class="fa fa-instagram"
                                        aria-hidden="true"></i></a>
                            </div>
                            <div class="icon fi-color">
                                <a href="https://www.youtube.com/" target="_blank" class="fwc_pa fwcwb-ahp left-m-7"><i
                                        class="fa fa-youtube" aria-hidden="true"></i></a>
                            </div>

                        </li>
                    </ul>


                    <div class="col-12">
                        <div class="text-center">
                            <p class="subtf_pa fwc_pa">
                                All rights reserved. Copyright © 2021 by Boostinorbit.com
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </section>


    <!-- *********************************END : footer  Section ****************************** -->




</body>

</html>