<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>BoostInOrbit | Company</title>
    <link rel="icon" href="../images/icon-blue-bg.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="../css/custom/index.css">
    <link rel="stylesheet" type="text/css" href="../css/custom/developer.css">
    <link rel="stylesheet" type="text/css" href="../css/custom/twelnet.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <!-- CSS only -->

</head>

<body>

    <!-- Header start -->

    <div class="fixed-top navbar navbar-expand-md navbar-light bg-dark">
        <a href="./index.html" class="navbar-brand">
            <img src="../images/logo.png" width="250px" alt="BoostInOrbit">
        </a>

        <!-- <p class="fwc_pa left-m-200 top-m-20 underline fs_pa "> TWELNET </p> -->

        <div class="collapse navbar-collapse" id="menu">
            <div class="navbar-nav ml-lg-auto">
                <a href="./index.html" class="fwc_pa  ">Home</a>
                <a href="#" class="fwc_pa left-m-20 ">Documentation</a>
                <a href="#" class="fwc_pa left-m-20 ">Learn</a>
                <a href="#" class="fwc_pa left-m-20 ">Q&A</a>
                <a href="#" class="fwc_pa left-m-20 ">Videos</a>
                <a href="#" class="fwc_pa left-m-20 ">Code Sample</a>
            </div>
            <div class="navbar-nav ml-auto">
                <a href="#" class="fwc_pa left-m-20 "><i class="fa fa-lock"></i> Login</a>
                <a href="#" class="fwc_pa left-m-20 "><i class="fa fa-user-circle"></i> Signup</a>
            </div>
        </div>
    </div>

    <!-- Header end -->

    <!--********************** START: Banner Section  ********************************** -->
    <section class="s_ds">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p class="st_pa">Showcase your app <br>with Small Apps</p>
                    <p class="sd_pa">Besides its beautiful design. Laapp is an incredibly rich core framework for you to
                        showcase your App.</p>

                </div>
                <div class="col-md-6">
                    <img src="../images/mobile.png" class="s_i" style="width: 360px;">
                </div>
            </div>
        </div>
    </section>

    <!--********************** END: Banner Section  ********************************** -->

    <!-- ****************START: 1st Section ************************** -->
    <section class="top-m-section">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <p class="gradient">Corporis temporibus maiores provident</p>
                    <div class="separator"></div>

                    <p class="subt_pa">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua.</p>
                    <p class="d_pa"> laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                        reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                        occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum

                        Inventore id enim dolor dicta qui et magni molestiae. Mollitia optio officia illum ut cupiditate
                        eos autem. Soluta dolorum repellendus repellat amet autem rerum illum in. Quibusdam occaecati
                        est nisi esse. Saepe aut dignissimos distinctio id enim.
                    </p>


                </div>
                <div class="col-md-4">
                    <img src="../images/details-2.png" style="width: 400px;">
                </div>


            </div>
        </div>
    </section>

    <!-- ****************END: 1st Section ************************** -->

    <!-- ****************START: 2nd Section ************************** -->
    <section class="top-m-section">
        <div class="container">
            <div class="row">


                <div class="col-md-4">
                    <img src="../images/details-11.png" style="width: 400px;">
                </div>

                <div class="col-md-8">
                    <p class="gradient">Voluptatem dignissimos provident quasi corporis voluptates sit assumenda.</p>
                    <div class="separator"></div>

                    <p class="subt_pa">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua.</p>
                    <ul class="check d_p" style="list-style:none;">
                        <li><i class="fa fa-check "></i>Ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </li>
                        <li><i class="fa fa-check"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
                        <li><i class="fa fa-check"></i> Facilis ut et voluptatem aperiam. Autem soluta ad fugiat.</li>
                    </ul>
                    <p class="d_pa">Voluptas nisi in quia excepturi nihil voluptas nam et ut. Expedita omnis eum
                        consequatur non. Sed in asperiores aut repellendus. Error quisquam ab maiores. Quibusdam sit in
                        officia
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- ****************END: 2nd Section ************************** -->

    <!-- ****************START: 3rd Section ************************** -->
    <section class="top-m-section">
        <div class="container">
            <div class="row">


                <div class="col-md-8">
                    <img src="../images/undraw_svg_3.svg" style="width: 600px;">
                </div>

                <div class="col-md-4">
                    <p class="gradient">Gather Feedback</p>
                    <div class="separator"></div>
                    <p class="d_pa">Voluptas nisi in quia excepturi nihil voluptas nam et ut. Expedita omnis eum
                        consequatur non. Sed in asperiores aut repellendus. Error quisquam ab maiores. Quibusdam sit in
                        officia
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- ****************END: 3rd Section ************************** -->
    <!-- ****************START: 4th Section ************************** -->
    <section class="top-m-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p class="gradient">Seamlessly Communicate</p>
                    <div class="separator"></div>
                    <p class="d_pa">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur at reprehenderit
                        optio, laudantium eius quod, eum maxime molestiae porro omnis. Dolores aspernatur delectus
                        impedit incidunt dolore mollitia esse natus beatae.
                    </p>
                </div>
                <div class="col-md-6">
                    <img src="../images/undraw_svg_2.svg" style="width: 600px;">
                </div>
            </div>
        </div>
    </section>

    <!-- ****************END: 4th Section ************************** -->

    <!-- ****************START: 5th section *************************-->

    <section class="top-m-section">
        <div class="container">

            <div class="section-title">
                <P class="gradient ">Appland Feature Overview</P>
                <div class="separator center-m-h-39"></div>

                <p class="subt_pa" style="font-size: 17px;">Continually network virtual strategic theme areas vis-a-vis
                    ubiquitous potentialities. Holisticly negotiate focused e-tailers without premium solutions.
            </div>

            <div class="row">

                <div class="col-md-6">
                    <p class="fhc_pa">Communicate</p>

                    <p class="d_pa">Dramatically re-engineer optimal e-markets vis-a-vis top-line web services. Globally
                        drive 24/7 meta-services with adaptive products. Professionally matrix leading-edge experiences
                        after high-quality networks. Appropriately extend 24/7 customer service before unique
                        communities. Intrinsicly harness resource sucking channels and virtual materials.
                    </p>
                </div>
                <div class="col-md-6">
                    <img src="../images/microsoft.png" style="width: 500px;">
                </div>
            </div>
        </div>
    </section>


    <!-- ****************END:: 5th section *************************-->

    <!-- ****************START: 6th section *************************-->


    <section class="top-m">
        <div class="container">
            <div class="row">


                <div class="col-md-6">
                    <img src="../images/iphone-feature.png" style="width: 400px;">
                </div>

                <div class="col-lg-6 col-md-10 m-md-auto align-self-center ml-auto">

                    <!-- About 01 -->

                    <div class="content">
                        <p class="fhc_pa">Creative Design</p>
                        <p class="d_pa">But I must explain to you how all this mistaken idea of denouncing pleasure and
                            praising pain was born and I will give you a complete accounta</p>
                    </div>

                    <!-- About 02 -->

                    <div class="content active">
                        <p class="fhc_pa">Easy to Use</p>
                        <p class="d_pa">But I must explain to you how all this mistaken idea of denouncing pleasure and
                            praising pain was born and I will give you a complete accounta</p>
                    </div>

                    <!-- About 03 -->

                    <div class="content">
                        <p class="fhc_pa">Best User Experience</p>
                        <p class="d_pa">But I must explain to you how all this mistaken idea of denouncing pleasure and
                            praising pain was born and I will give you a complete accounta</p>
                    </div>

                </div>
            </div>
        </div>



    </section>


    <!--************************ END: 6th section **************************-->

    <!--************************ START:7th Section ************************** -->
    <section class="top-m">
        <div class="container">
            <div class="row">


                <div class="col-md-6">

                    <div class="video-main overlay">
                        <!-- Video Animation -->
                        <div class="promo-video">
                            <div class="waves-block">
                                <div class="waves wave-1"></div>
                                <div class="waves wave-2"></div>
                                <div class="waves wave-3"></div>
                            </div>
                        </div>
                        <!--/ End Video Animation -->
                        <div class="video-play">
                            <a href="https://www.youtube.com/watch?v=pqT7BKkgoUw"
                                class="video video-popup mfp-iframe"><i class="fa fa-play"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 m-md-auto align-self-center ml-auto">
                    <div>
                        <p class="gradient">Experience quality design with best performance.</p>
                        <div class="separator"></div>
                        <p class="subt_pa">Continually network virtual strategic theme areas vis-a-vis ubiquitous
                            potentialities.
                        </p>
                    </div>

                    <!-- About 01 -->

                    <div class="content">
                        <P class="fhc_pa">Premium Design</P>
                        <p class="d_p">Credibly build enterprise ideas and cost effective internal or organic.
                            Objectively network granular e-services before leading sources. Authoritatively facilitate
                            enterprise.</p>
                    </div>
                    <!-- About 02 -->
                    <div class="content">
                        <P class="fhc_pa">Easy to Use</P>
                        <p class="d_p">Distinctively facilitate one-to-one customer service before ubiquitous human
                            capital. Synergistically target whereas sticky outsourcing. Interactively.</p>
                    </div>


                </div>
            </div>
        </div>


        <!--************************ END:7th Section ************************** -->

        <!--************************ START:8th Section ************************ -->


        <section class="top-m-section">
            <div class="container">

                <div class="section-title">
                    <P class="gradient ">App Features</P>
                    <div class="separator center-m-h-39"></div>

                    <p class="subt_pa" style="font-size: 17px;">Magnam dolores commodi suscipit. Necessitatibus eius
                        consequatur ex
                        aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo
                        qui impedit suscipit aliasea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
                </div>

                <div class="row">
                    <div class="col-xl-7 ">
                        <div class="content d-flex flex-column justify-content-center">
                            <div class="row">
                                <div class="col-md-6">
                                    <i class="bx bx-receipt"></i>
                                    <p class="fhc_pa">Corporis voluptates sit</p>

                                    <p class="d_p">Consequuntur sunt aut quasi enim aliquam quae harum pariatur laboris
                                        nisi ut
                                        aliquip</p>
                                </div>
                                <div class="col-md-6">
                                    <i class="bx bx-cube-alt"></i>
                                    <p class="fhc_pa">Ullamco laboris nisi</p>
                                    <p class="d_p">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                                        officia
                                        deserunt</p>
                                </div>
                                <div class="col-md-6 ">
                                    <i class="bx bx-images"></i>
                                    <p class="fhc_pa">Labore consequatur</p>
                                    <p class="d_p">Aut suscipit aut cum nemo deleniti aut omnis. Doloribus ut maiores
                                        omnis facere
                                    </p>
                                </div>
                                <div class="col-md-6 ">
                                    <i class="bx bx-shield"></i>
                                    <p class="fhc_pa">Beatae veritatis</p>
                                    <p class="d_p">Expedita veritatis consequuntur nihil tempore laudantium vitae denat
                                        pacta</p>
                                </div>
                                <div class="col-md-6 ">
                                    <i class="bx bx-atom"></i>
                                    <p class="fhc_pa">Molestiae dolor</p>
                                    <p class="d_p">Et fuga et deserunt et enim. Dolorem architecto ratione tensa raptor
                                        marte</p>
                                </div>
                                <div class="col-md-6 ">
                                    <i class="bx bx-id-card"></i>
                                    <p class="fhc_pa">Explicabo consectetur</p>
                                    <p class="d_p">Est autem dicta beatae suscipit. Sint veritatis et sit quasi ab aut
                                        inventore</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="image col-xl-5 ">
                        <img src="../images/features.svg" class="img-fluid" alt="">
                    </div>
                </div>

            </div>
        </section>

        <!--************************ END:8th Section ************************** -->

        <!-- *********************************START : footer  Section ****************************** -->
        <div>
            <svg class="waves" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink"
                viewBox="0 24 150 40" preserveAspectRatio="none" shape-rendering="auto">
                <defs>
                    <path id="surge-animation"
                        d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z">
                    </path>
                </defs>
                <g class="surge-waves">
                    <use xlink:href="#surge-animation" x="48" y="-1" fill="#a6b8d8"></use>
                    <use xlink:href="#surge-animation" x="48" y="3" fill="#839cc9"></use>
                    <use xlink:href="#surge-animation" x="48" y="5" fill="#718ec1"></use>
                    <use xlink:href="#surge-animation" x="48" y="8" fill="#4e72b1"></use>
                    <use xlink:href="#surge-animation" x="48" y="13" fill="#4667a0"></use>
                    <use xlink:href="#surge-animation" x="48" y="16" fill="#37517e"></use>
                </g>
            </svg>
        </div>

        <section>

            <footer class=" footer-color">
                <hr class="horizontal dark mb-5">
                <div class="container">
                    <div class=" row">
                        <div class="col-md-4 mb-4 ms-auto">

                            <div class="fwc_pa">
                                <p>Social Networking site with Automated hiring Process</p>

                                <p>Workhaus FiDi, 56 Temperance St Suite
                                    700,Toronto,ON M5H 3V5, Canada</p>

                            </div>
                            <div class="email">
                                <span class="fa fa-envelope fwc_pa"></span>
                                <span class="text text-white ml-3"> info@boostinOrbit.com</span>
                            </div>
                            <div class="phone ">
                                <span class="fa fa-phone fwc_pa"></span>
                                <span class="text text-white ml-3"> +91 987 654 321</span>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-6 col-6 mb-4">
                            <div>
                                <p class="subtf_pa fcfh">Our Company</p>
                                <div class="separator-f"></div>
                                <ul class="flex-column" style="list-style:none;">
                                    <li>
                                        <a class=" fwc_pa " href=" #" target="_blank">
                                            About Us
                                        </a>
                                    </li>
                                    <li class="top-m-10">
                                        <a class="fwc_pa top-m-10" href="#" target="_blank">
                                            Hours
                                        </a>
                                    </li>
                                    <li class="top-m-10">
                                        <a class="fwc_pa" href="#" target="_blank">
                                            People
                                        </a>
                                    </li>
                                    <li class="top-m-10">
                                        <a class="fwc_pa" href="#" target="_blank">
                                            Communication
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-6 col-6 mb-4">
                            <div>
                                <p class="subtf_pa fcfh">Our Resources</p>
                                <div class="separator-f"></div>
                                <ul class="flex-column" style="list-style:none;">
                                    <li class="nav-item">
                                        <a class="fwc_pa" href="#" target="_blank">
                                            Design
                                        </a>
                                    </li>
                                    <li class="top-m-10">
                                        <a class="fwc_pa" href="#" target="_blank">
                                            Build
                                        </a>
                                    </li>
                                    <li class="top-m-10">
                                        <a class="fwc_pa" href="#" target="_blank">
                                            Display
                                        </a>
                                    </li>
                                    <li class="top-m-10">
                                        <a class="fwc_pa" href="#" target="_blank">
                                            Details
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-6 col-6 mb-4">
                            <div>
                                <p class="subtf_pa fcfh">Our Support</p>
                                <div class="separator-f"></div>
                                <ul class="flex-column" style="list-style:none;">
                                    <li>
                                        <a class="fwc_pa" href="#" target="_blank">
                                            Contact Us
                                        </a>
                                    </li>
                                    <li class="top-m-10">
                                        <a class="fwc_pa" href="#" target="_blank">
                                            Knowledge Center
                                        </a>
                                    </li>
                                    <li class="top-m-10">
                                        <a class="fwc_pa" href="#" target="_blank">
                                            Development
                                        </a>
                                    </li>
                                    <li class="top-m-10">
                                        <a class="fwc_pa" href="#" target="_blank">
                                            Memberships
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-6 col-6 mb-4 me-auto">
                            <div>
                                <p class="subtf_pa fcfh ">Details</p>
                                <div class="separator-f"></div>
                                <ul class="flex-column" style="list-style:none;">
                                    <li class="">
                                        <a class="fwc_pa" href="#" target="_blank">
                                            Terms &amp; Conditions
                                        </a>
                                    </li>
                                    <li class="top-m-10 ">
                                        <a class="fwc_pa" href="#" target="_blank">
                                            Privacy Policy
                                        </a>
                                    </li>
                                    <li class="top-m-10">
                                        <a class="fwc_pa" href="#" target="_blank">
                                            Contact
                                        </a>
                                    </li>
                                    <li class="top-m-10">
                                        <a class="fwc_pa" href="#" target="_blank">
                                            Sitemap
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <ul class="unfeat-list ml-auto" style="list-style:none ;">
                            <li>
                                <div class="icon fi-color ">
                                    <a href="https://www.facebook.com/" target="_blank"
                                        class="fwc_pa fwcwb-ahp left-m-7"><i class="fa fa-facebook"
                                            aria-hidden="true"></i></a>

                                </div>
                                <div class="icon fi-color">
                                    <a href="https://www.instagram.com/" target="_blank"
                                        class="fwc_pa fwcwb-ahp left-m-7"><i class="fa fa-instagram"
                                            aria-hidden="true"></i></a>
                                </div>
                                <div class="icon fi-color">
                                    <a href="https://www.youtube.com/" target="_blank"
                                        class="fwc_pa fwcwb-ahp left-m-7"><i class="fa fa-youtube"
                                            aria-hidden="true"></i></a>
                                </div>

                            </li>
                        </ul>


                        <div class="col-12">
                            <div class="text-center">
                                <p class="subtf_pa fwc_pa">
                                    All rights reserved. Copyright © 2021 by Boostinorbit.com
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </section>


        <!-- *********************************END : footer  Section ****************************** -->

</body>

</html>