* {
    margin: 0;
    padding: 0;
}

/* *******************************************Resusable************************************************** */

.underline {

    text-decoration-line: underline !important;

    /* text-shadow: 1px 1px; */
}

.gradient {
    background-image: linear-gradient(135deg, #f28500 0%, #37517e 100%);
    display: inline-block;
    font-weight: bold;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* margin-top: 30%; */
    font-size: 40px;
}

.underline-gradient {
    background-image: linear-gradient(135deg, #f28500 0%, #37517e 100%);
    text-decoration-line: underline;
    text-decoration-style: solid;
}


.top-m-section {
    margin-top: 150px;
}

.bottom-m-10 {
    margin-bottom: 10;
}


.bottom-m-100 {
    margin-bottom: 100 !important;
}


.top-m {
    margin-top: 35px;
}


.top-m-10 {
    margin-top: 10px;
}

.top-m-20 {
    margin-top: 20px;
}

.top-m-50 {
    margin-top: 50px;
}

.top-m-100 {
    margin-top: 100px !important;
}


.left-m-10 {
    margin-left: 10px !important;
}

.left-m-20 {
    margin-left: 20px !important;
}

.left-m-7 {
    margin-left: 7px !important;
}

.left-m-40 {
    margin-left: 40px !important;
}

.left-m-50 {
    margin-left: 50px !important;
}

.left-m-60 {
    margin-left: 60px !important;
}

.left-m-120 {
    margin-left: 120px !important;
}

.left-m-200 {
    margin-left: 200px !important;
}

.left-m-100 {
    margin-left: 100px !important;
}

.left-rev-m-50 {
    margin-left: -50px !important;
}

.right-m {
    margin-right: 100px !important;
}

.center-m-h-35 {
    /* center margin horizontal */
    margin-left: 35%;
}

.center-m-v-15 {
    /* center margin verticle */
    margin-top: 15%;
}

.section-c {
    background-color: #fff4e6;
}

.circle {
    border: 2px solid #37517e;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    position: relative;
    float: left;
    background-color: #37517e;
}


.hf_bf,
/* header footer background font  */
div.navbar {
    background-color: #37517e !important;
    color: #f2f2f2 !important;
    font-weight: 500 !important;
    font-size: 15px !important;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif */
}

p.hf_bf:hover,
a:hover {
    color: #47b2e4 !important;
    transform: scale(1.1);

}


.fs_pa {
    font-size: larger;
    font-weight: bold !important;
}

.fcfh {
    /* font color for headlines*/
    color: #f28500;
}

.fwcwb-ahp {
    /* font white color with bold on a, h, p */
    text-decoration: none;
    color: #47b2e4;
    font-weight: bold;
    font-size: 200%;

}

.fwc_pa,
.dropdown-toggle {
    /* font white color on p and a */
    text-decoration: none;
    color: #f2f2f2;

}

.fhc_pa {
    /* font header color on p and a */
    text-decoration: none;
    color: #37517e;
    font-weight: bold;

}


.active {
    color: #47b2e4 !important;
}

ul.ih_hpa {
    /* inline header on h, p and a */
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;

}


.s_ds {
    /* slider on div, section */
    background-color: #37517e;
    height: 90%;
    width: 100%;
    margin-top: 4.5%;


}


.st_pa {
    /* slider title on p, a */
    color: #fff;
    text-decoration: none;
    font-size: 40px;
    margin-top: 30%;
    font-weight: bold;
}

.sd_pa {
    /* slider description on p, a */
    color: #a39d9d;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;

}

.s_i {
    /* slider on image*/
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%
}


.t_ds {
    /*title on div, section */
    /* height: 90%;
    width: 100%; */
}



.subt_pa {
    /* subtitle title on p, a */
    position: relative;
    color: #3c4858;
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
}

.subtd_pa {
    /* subtitle description on p, a */
    color: #686666;
    font-size: 20px;
    margin-top: 30%;


}

.d_pa {
    /* description on p, a */
    color: #686666;
    text-decoration: none;
    font-size: 20px;
    overflow: hidden;

}

.icon {
    padding: 15px;
}

.bi-color {
    /* Body fs color */
    background-color: #37517e;
}

.fi-color {
    /* footer icon color */
    background-color: #47b2e4;
}

div.icon .fa:hover {
    color: #37517e !important;
}

/* ****************************************START CSS: 3rd  Section **********************  */


.unfeat-list li .icon {
    border: 2px solid #37517e;
    border-radius: 50%;
    width: 74px;
    height: 74px;
    position: relative;
    float: left;
    margin-right: 15px;
    /* background-color: #37517e; */


}

/* ****************************************END CSS: 3rd Section **********************  */
/* ****************************************START CSS: 4rd Section **********************  */
.s_img {

    margin-bottom: 50px;
    width: 67%
}


.separator {
    margin-bottom: 15px;
    position: relative;
    width: 250px;
    height: 3px;
    background: linear-gradient(to left, #37517e 0%, #47b2e4 100%);

}

.separator-f {
    margin-bottom: 15px;
    position: relative;
    width: 120px;
    height: 3px;
    /* background: linear-gradient(135deg, #f28500 0%, #37517e 100%); */
    background: linear-gradient(to left, #37517e 0%, #47b2e4 100%);


}



.icon-img {
    vertical-align: middle;
    width: 39px;
    border-style: none;
}




/* ****************************************END CSS: 4rd Section **********************  */



/* *****************************************Header CSS Start ************************************************/




/* ****************************************dropdown CSS start ***********************************************/

/* ******************************************dropdown CSS END ***********************************************/


/* footer****************************** */
.footer-color {
    background: #37517e;
    background: #47b2e4(0, 0, 0, 1.0);
    background-size: 550% 450%;
}

.fi-c {
    /* footer icon color */
    background-color: #47b2e4 !important;
}

.subtf_pa {
    /* subtitle title on p, a */
    position: relative;
    /* color: #fff; */
    font-size: 20px;
    line-height: 30px;
    list-style: none;
    font-weight: 500;
}

.sm-icon {
    height: 10vh;
    text-decoration: none;
}

/********************************************************************** wave CSS Start ********************* */


.waves {
    position: relative;
    width: 100%;
    height: 16vh;
    margin-bottom: -30px;
    min-height: 100px;
    max-height: 150px;
}

.waves.waves-sm {
    height: 50px;
    min-height: 50px;
}

.waves.no-animation .surge-waves>use {
    animation: none;
}

.wave-rotate {
    transform: rotate(180deg);
}

/* ************************************wave-animation ******************************************************** */
.surge-waves>use {
    animation: move-forever 40s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.surge-waves>use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 11s;
}

.surge-waves>use:nth-child(2) {
    animation-delay: -4s;
    animation-duration: 13s;
}

.surge-waves>use:nth-child(3) {
    animation-delay: -3s;
    animation-duration: 15s;
}

.surge-waves>use:nth-child(4) {
    animation-delay: -4s;
    animation-duration: 20s;
}

.surge-waves>use:nth-child(5) {
    animation-delay: -4s;
    animation-duration: 25s;
}

.surge-waves>use:nth-child(6) {
    animation-delay: -3s;
    animation-duration: 30s;
}

@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }

    100% {
        transform: translate3d(85px, 0, 0);
    }
}





/* Header CSS End */
/* dropdown start */

.menu-large {
    position: static !important;
}

.megamenu {
    padding: 20px 20px;
    width: 100%;
}

.megamenu>div>li>ul {
    padding: 0;
    margin: 0;
}

.megamenu>div>li>ul>li {
    list-style: none;
}

.megamenu>div>li>ul>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    white-space: normal;

}

.megamenu>div>li>ul>li>a:hover,
.megamenu>div>li>ul>li>a:focus {
    text-decoration: none;
    color: #47b2e4;
    background-color: #f5f5f5;
}

.megamenu.disabled>a,
.megamenu.disabled>a:hover,
.megamenu.disabled>a:focus {
    color: #999999;
}

.megamenu.disabled>a:hover,
.megamenu.disabled>a:focus {
    text-decoration: none;
    background-color: transparent;
    background-image: none;
    filter: progid: DXImageTransform.Microsoft.gradient(enabled=false);
    cursor: not-allowed;
}

.megamenu.dropdown-header {
    color: #428bca;
    font-size: 18px;
}

@media (max-width: 768px) {
    .megamenu {
        margin-left: 0;
        margin-right: 0;
    }

    .megamenu>li {
        margin-bottom: 30px;
    }

    .megamenu>li:last-child {
        margin-bottom: 0;
    }

    .megamenu.dropdown-header {
        padding: 3px 15px !important;
    }

    .navbar-nav .open .dropdown-menu .dropdown-header {
        color: #428bca;
    }
}

.logo {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 33%;
    border-radius: 50px;
    border: 3px solid white;
}

.row {
    margin-left: 10%;
    margin-right: 10%;
}

/* dropdown end */